VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_BASE_URL=https://image.tmdb.org/t/p/w500
VITE_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI1Y2Y5YzZhYzEwMTkxOTBkZDkzZDkzYzZjODcxNjVjNyIsIm5iZiI6MTc4MzE3MjI2Mi4yOSwic3ViIjoiNmE0OTBjYTZmNTk0YmU3ODcwZmMzNTY4Iiwic2NvcGVzIjpbImFwaV9yZWFkIl0sInZlcnNpb24iOjF9.qRfad7phnidGmngouASi6o3Q0KOjT7IiL1EGw14cxtE
